/node_modules
/public/hot
/public/media
/public/storage
/resources/bower/*
/storage/*.key
/storage/api-docs/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
package-lock.json
yarn-error.log
.env
